In [2]:
import pandas as pd

In [18]:
# 판다스의 데이터 프레임을 생성
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1,5,25,13,23232]

BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])

# 데이터 프레임의 상단 부분을 출력
df.head()

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
df.dtypes # 데이터 프레임의 열 타입 정보를 출력

Names     object
Births     int64
dtype: object

In [7]:
df.index # 데이터 프레임 인덱스 정보

RangeIndex(start=0, stop=5, step=1)

In [8]:
df.columns # 데이터 프레임 열의 형태 정보

Index(['Names', 'Births'], dtype='object')

In [9]:
df['Names'] # 데이터 프레임에서 하나의 열 선택

0    a
1    b
2    c
3    d
4    e
Name: Names, dtype: object

In [10]:
df[0:3] # 0-3번째 인덱스 선택

  Names  Births
0     a     968
1     b     155
2     c      77

In [17]:
df[df['Births'] > 100] # Births 열이 100보다 큰 데이터를 선택

  Names  Births
0     a     968
1     b     155
3     d     578
4     e     973

In [19]:
df.mean() # 데이터 프레임 평균값

TypeError: Could not convert ['BobJessicaMaryJohnMel'] to numeric